---
import SlowText from '../components/slowText.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Hee-Ho!</title>
	</head>
<body>
    <div class = "container">
        Hello this is a test

        <SlowText/>

    </div>
</body>

<style>
    body{
        background-image: url(../assets/backgrounds/jackfrostbackground.jpg);
        background-size: cover;
    }

    div.container {
    
    	border-radius: 5px;
    	border: solid;
    	border-color: rgba(232, 42, 211, 0.54);
    	border-width: 2px;
    	margin:auto;
    	padding: 1%;
    	width: 50%;
        color:antiquewhite;
    	justify-content: center;
    	background-color:#28243d;
    	font-family: 'SMT-Devil-Survivor', serif;
    	font-size: clamp(12px, 3vw, 15px);
    }

    @font-face {
      font-family: 'SMT-Devil-Survivor';
      src: url('/fonts/SMT-Devil-Survivor.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
</style>