---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Home";
import RecentlyPlayed from '../components/recentlyPlayed.astro';
export const prerender = false
---


<Layout pageTitle = {pageTitle}>
	<p>
		Hello! This is Tal's website, where you can find out more about me and my coding projects.
		This also will have personal use as a blog which I will periodically be updating.
	</p>
	<p>
				
		I've been enjoying exploring web rings in the process of making this website, and am taking inspiration from many
		of those while I work on personalizing this website more!
	</p>

	<p>
		The title of this website 'Midnight Tides', refers to one of my favourite lines from a book I finished recently, Memories of Ice.
		In this, one of the characters says a frankly difficult thing for me to understand at the point of the story, that I believe is a reference
		to the fifth book of the Malazan Book of the Fallen franchise, 'Midnight Tides'. While this is said in the third book of that series which just
		completely threw me for a loop. 
	</p>
	<blockquote cite="Memories of Ice, Chapter 23">
		"Poisoned souls, led by the one who has been slain a hundred times, oh,
		'ware this new Emperor of the Edur, this Tyrant of Pain, this deliverer of Midnight Tides!""
	</blockquote>

	<p>The phrase Midnight Tides in this context invokes something in me that I don't fully understand. 
	It may be that I just like the way this phrase sound, or it might be something deeper as I finally get to the book!</p>

	<RecentlyPlayed/>
	
</Layout>