---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Home";
import RecentlyPlayed from '../components/recentlyPlayed.astro';
export const prerender = false
---


<Layout pageTitle = {pageTitle}>
	<p>
		Hello! This is Tal's website, where you can find out more about me and my coding projects.
		This also will have personal use as a blog which I will periodically be updating.
	</p>
	<p>
				
		I've been enjoying exploring web rings in the process of making this website, and am taking inspiration from many
		of those while I work on personalizing this website more!
	</p>

	<RecentlyPlayed/>
	
</Layout>