---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";
const pageTitle = "Interests";
---

<Layout pageTitle={pageTitle}>
    <Card title = "General"> 
        Going through a lot of thinking about where I am. I have things lined up for my future but it does feel like a lot of waiting around till that happens. Started being more proactive in
        finding events to go to. Been volunteering a lot more recently! Continuing to meet lots of cool people :)!
    </Card>
    
    <br/>
    
    <Card title = "Media">
        <ul>
            <li>Playing Etrian Odyssey 2 Untold, Slay the Spire 2, and Ghost of Tsushima</li>
            <li>Reading The Left Hand of Darkness and Malazan: Book of the Fallen</li>
            <li>Thinking about Succession, watching D20.</li>
        </ul>      
    </Card>
    
    <br/>
    
    <Card title = "Projects">
        <ul>
            <li>Knititng a scarf</li>
            <li>Creating a small music video</li>
            <li>Poetry, primarily to learn and garner an appreciation for it!</li>
        </ul>
    </Card>
    <br/>
    <small>Last updated on March 22nd, 2026.</small>
</Layout>

<style>
    small{
        float:right;
    }
</style>
