---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";
const pageTitle = "Interests";
---

<Layout pageTitle={pageTitle}>
    <div class = "opencards" > 
        <details name = "General">
            <summary>𓆩♡𓆪 What is generally going on in my life 𓆩♡𓆪</summary>
            <Card title = "General"> 
                I will be attending Folk Fest this year :) Thank you BCNR for finally motivating me to go! Starting a city job soon, I'm getting my official ID very soon!!
                Spending a lot of my free time out in cafes and libraries until then. Also somewhat getting more involved with the film crowd in the city?
            </Card>
        </details>
    </div> 
    
    
    
    <br/>
    
    <div class = "opencards"> 
        <details name = "General">
            <summary>≪ °❈° ≫ Current media interests ≪ °❈° ≫</summary>
            <Card title = "Media">
                <ul>
                    <li>Playing Etrian Odyssey 2 Untold, Slay the Spire 2, and Ghost of Tsushima</li>
                    <li>Reading The Left Hand of Darkness and Toll the Hounds</li>
                    <li>Thinking about Succession, watching D20.</li>
                    <li>Board games with my buds</li>
                </ul>      
            </Card>
        </details>
    </div>
    
    <br/>
    
    <div class = "opencards" > 
        <details name = "General">
            <summary>✮✮✮ Current projects in the works ✮✮✮</summary>
            <Card title = "Projects">
                <ul>
                    <li>Becoming a video essay guy (or at least trying to make one)</li>
                    <li>Creating a small music video</li>
                    <li>Making poetry</li>
                </ul>
        </Card>
        </details>
    </div>
    
    <br/>
    <small>Last updated on April 14th, 2026.</small>
</Layout>

<style>
    small{
        float:right;
    }
    
    .opencards{
        border-style:ridge;
        margin:auto;
        width: 400px;
        padding: 1em;
        border-color: rgba(232, 42, 211, 0.54);
        
    }
    
    .opencards summary{
        text-align:left;
    }
    
    ul{
        padding-left: 1em;
        margin:0;
    }
</style>
