---
import Quote from '../layouts/quote.astro';
import Layout from '../layouts/Layout.astro';
const pageTitle = "Quotes";
---

<Layout pageTitle = {pageTitle}>
    <p>Quotes I think about way too often, either funny or something that stands out to me emotionally</p>

     <Quote
     author = "Steven Erikson"
     location = "Memories of Ice">
     We humans do not understand compassion. 
    In each moment of our lives, we betray it. 
    Aye, we know of its worth, yet in knowing we then attach to it a value, we guard the giving of it, believing it must be earned,
     T’lan Imass. Compassion is priceless in the truest sense of the word. It must be given freely. In abundance.
    </Quote>

    <Quote
    author = "Steven Erikson"
    location = "Deadhouse Gates">
    Name none of the fallen, for they stand in our place, and stand there still in each moment of our lives. 
    Let my death hold no glory, and let me die forgotten and unknown. 
    Let it not be said that I was one among the dead to accuse the living.</Quote>

    <Quote
    author = "China Mievelle"
    location = "The Scar">
    This is a Possible Letter. Until the last second, when I write your name beside that word “Dear,” all
    those sheets and months ago, this is a Possible Letter, pregnant with potentiality. I am very powerful
    right now. I am all ready to mine the possibilities, make one of them fact.
    </Quote>

    <Quote
    author = "Captain Flint"
    location = "Black Sails">
    This is how they survive. You must know this. You're too smart not to know this.
    They paint the world full of shadows... and then tell their children to stay close to the light. 
    Their light. Their reasons, their judgments. Because in the darkness, there be dragons. 
    But it isn't true. We can prove that it isn't true. 
    In the dark, there is discovery, there is possibility, there is freedom in the dark once someone has illuminated it.
    
    
    All this will be for nothing. We will have been for nothing. 
    Defined by their histories... distorted to fit into their narrative... until all that is left of us are the monsters in the stories they tell their children.
    </Quote>

    <Quote
    author = "Zahua"
    location = "Pillars of Eternity">
    He longs not for the water, but for the experience of first tasting it.
    He is bound for disappointment. His suffering is very pretty. Yet it feels empty.
    What value does it have if he refuses to learn from it? Can he not see
    that he seeks something that can never be recovered?
    </Quote>   
    
    <Quote
    author = "Fiddler"
    location = "The Bonehunters">
        It seemed so easy for so many people to divide war from peace, to confine their definitions of the unambivalent.
    Marching soldiers, pitched battles and slaughter.
    Locked armouries, treaties, fêtes and city gates opened wide.
    But Fiddler knew that suffering thrived in both realms of existence - 
    he'd witnessed too many faces of the poor,
    ancient crones and babes in a mother's arms,
    figures lying motionless on the roadside or in the gutters of streets -
    where the sewage flowed unceasing like rivers gathering their spent souls.
    And he had come to a conviction, lodged like an iron nail in his heart, and with its burning, searing realization,
    he could no longer look upon things the way he used to, he could no longer walk and see what he saw with a neatly partitioned mind,
    replete with its host of judgements - that critical act of moral relativity -<i>this is less, that is more. </i> 
    The truth in his heart was this: he no longer believed in peace.<br><br>

    It did not exist except as an ideal to which endless lofty words paid service,
    a litany offering up the delusion that the absence of overt violence was sufficient in itself,
    was proof that one was better than the other. There <i>was</i> no dichotomy between war and peace
    - no true opposition except in their particular expressions of a ubiquitous inequity. 
    Suffering was all-pervasive. Children starved at the feet of wealthy lords no matter how secure and unchallenged their rule.

    </Quote>
</Layout>