---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Quotes";
---

<Layout pageTitle = {pageTitle}>
    <p>Staring at cool quotes has been a bit of a hobby of mine over the last few years. Figured I could show some of those off here!</p>
</Layout>