---
const {title, url, tags, description} = Astro.props;
---

<li  class = "blogPost" >
    <a href = {url}>
        ↣ {title}
    </a>
    <ul class="tag">
        {tags.map((tag: string) => (
      <li ># {tag}</li>
    ))}
    </ul>
        
    
    
    
</li>

<style>
    .blogPost {
        display: flex;
        flex-direction: column; 
        list-style-type: none;
        justify-content: space-between;
        padding: 0;
    }
        
    .projectPost a {
        color:rgb(171, 211, 246);
    }

    .projectPost a:hover{
        color:rgb(8, 131, 90);
    }
    .tag{
        /* display: flex;
        flex-direction: row; */
        padding-left: 0;

    }
    .tag li{
        display: inline;
        padding-right: 1em;
        font-size: 0.8em;
        color:rgb(167, 34, 194);
    }
        

</style>