---
import Topnav from '../components/topnav.astro';
---
<h1>
    <a href = "/">𝕸𝖎𝖉𝖓𝖎𝖌𝖍𝖙 𝕿𝖎𝖉𝖊𝖘</a>
</h1>


<style>
    h1{
        text-align: center;
        color: purple;
        margin-bottom: -10px;
        font-size: 35px;
        
    }

    a{
        color: rgb(153, 12, 235);

        

    }
    a:hover{
        color: rgb(182, 6, 182);
    }
    
</style>
