---
import { Image } from 'astro:assets';
import  quote from '../assets/siteMapImages/quotes.jpg';
---

<div class = "sitemap">
    <ul>
        <li>
            <a href = '/quotes'>⤷ Quotes</a>
            
        </li>
        
        <li>
            <a href = '/poetry'>⤷ Poems</a>
        </li>
        <li>
            <a href = '/readingLog'>⤷ Reading Log</a>
        </li>
        
    </ul>
</div>

<style>
    .sitemap{

    }

    ul{
        display:flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: space-between;

    }

    li{
        list-style-type: none;
        position: relative;

        border: solid;
        border-color: rgb(67, 142, 117);
        background-color: black;
        padding: 12px;
        /* width: 280px; */
        width: 15em;
        height: 15px;
        margin: 5px;
    }

    li::before{
        content: "ׂ 🫧";
        font-size: 1.3em;
        display: inline-block;
        position: absolute;
        left: -50px;
    }

    a{
        text-decoration: wavy;
    }
</style>