
<div class = "socials">
    <ul>
            <li><a href="https://github.com/tpodsosony/">GitHub</a></li>
            <li><a href="https://letterboxd.com/Tal1/">Letterboxd</a></li>
            <li><a href="https://www.goodreads.com/user/show/158532209-tal">Goodreads</a></li>
    </ul>
</div>

<style>
    .socials{
        display: flex;
        font-size:13px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    li{
        text-decoration: none;
    }

    ul{
        padding-top: 2em;
        list-style-type: none;
        padding-inline-start: 0;
        text-align: center;
        display: flex;
        column-gap: 1em;
        margin: auto;
    }
    
</style>
