<ul>
        <li><a href="https://github.com/tpodsosony/">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/talpodsosony/">LinkedIn</a></li>
        <li><a href="https://letterboxd.com/Tal1/">Letterboxd</a></li>
        <li><a href="https://www.goodreads.com/user/show/158532209-tal">Goodreads</a></li>
</ul>

<style>ds
    li{
        text-decoration: none;
    }

    ul{
        list-style-type: none;
        padding-inline-start: 0;
    }
    
</style>
