---
import type { CollectionEntry } from 'astro:content';
import type { MarkdownHeading } from 'astro';

import Layout from './Layout.astro';
import TableOfContents from '../components/tableOfContents.astro';

type Props = CollectionEntry<'blogs'>['data'] & { headings: MarkdownHeading[] };

const { frontmatter, headings } = Astro.props;
---


<Layout pageTitle = {frontmatter.title}>

    <h1>{frontmatter.title}</h1>
    <p class = pubDate>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
    <TableOfContents headings = {headings} />
    <slot />
</Layout >

<style>
    .line-1 {
  height: 1px;
  background: rgb(2, 64, 146);
	}

  a.goBack{
	position: fixed;
	top:0;
	left:0;
	margin-top: 20%;
	margin-left: 20%;
  }
  h1{
	margin: auto;
	text-align: center;
  }

  .pubDate{
	text-align: right;
	font-size: 0.8em;
  }
</style>

<script>
//   const buttons = document.querySelectorAll('a.goBack');
const buttons = document.querySelectorAll('h4');


  buttons.forEach((button) => {
    button.addEventListener('click', () => {
     history.back()
    });
  });
</script>

  

