---
const {author, location} = Astro.props
---

<div>{author}, {location}</div>
<blockquote>
    <slot/>
</blockquote>


<style>
    blockquote{
        padding: 0.8em;
        border-style: dotted;
        border-color: rgb(6, 122, 122);
    }

    div{
        font-weight: bold;
    }
</style>